server:
  port: 8089
spring:
  application:
    name: searchservice
  datasource:
    url: jdbc:mysql://localhost:3306/test02?useSSL=false
    username: root
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver
    logging:
      level:
        com:
          baomidou:
            mybatisplus:
              mapper=DEBUG:
  cloud:
    nacos:
      server-addr: localhost:8848 # nacos地址
logging:
  level:
    cn.itcast: debug
  pattern:
    dateformat: MM-dd HH:mm:ss:SSS
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.hmall.search.pojo